<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="./vue.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <title>Lista de Tarefas</title>
</head>

<body>
  <div id="app">
    <h1 class="app_title">Lista de Afazeres</h1>

    <!--- INPUTS --->
    <div class="inputs_container">
      <div class="input_add_container">
        <input v-model="describe" class="input_add" type="text" placeholder="Descreva a sua tarefa..." />
        <button @click="addTask" class="input_add_btn">Salvar</button>
      </div>
      <div class="input_options">
        <select v-model="option" name="options">
          <option value="" disabled selected>Escolha uma</option>
          <option value="warning">Não urgente</option>
          <option value="urgent">Urgente</option>
        </select>
      </div>
    </div>

    <!--- TO DO --->
    <section class="box_container">
      <div>
        <h2 v-show="tasks.length > 0" class="tasks_title">À Fazer</h2>

        <!--- EXIBITION --->
        <div v-for="(item, index) in tasks" v-if="tasks.length > 0" :key="item.id" class="box">
          <div class="box_tarja" :class="[item.option]"></div>
          <p v-if="itemEditable !== index" class="box_describe">{{item.task}}</p>

          <!--- EDITABLE TASK --->
          <div v-if="itemEditable === index" class="box_edit_container">
            <input class="box_edit" type="text" v-model="item.task" />
            <button @click="save(index, item.task)" class="box_btn btn_conclude">Salvar</button>
            <button @click="cancel" class="box_btn btn_cancel">Cancelar</button>
            </button>
          </div>

          <div v-if="itemEditable !== index" class="box_buttons">
            <button @click="conclude(index)" class="box_btn btn_conclude">Concluir</button>
            <button @click="edit(index)" class="box_btn btn_edit">Editar</button>
            <button @click="deleteTask(index, 'tasks')" class="box_btn btn_delete">Deletar</button>
            </button>
          </div>

        </div>

        <!--- CONCLUDE --->
        <div v-if="tasksConclude.length > 0">
          <h2 class="tasks_title">Concluídas</h2>
          <div v-for="(item, index) in tasksConclude" :key="item.id" class="box">
            <div class="box_tarja" :class="[item.option]"></div>
            <p class="box_describe">{{item.task}}</p>
            <div class="box_buttons">
              <button @click="deleteTask(index, 'conclude')" class="box_btn btn_delete">Deletar</button>
            </div>
          </div>
        </div>

      </div>

      <p v-show="tasks.length === 0 && tasksConclude.length === 0" class="box_nothing">Nenhum item na lista</p>

    </section>

  </div>
  <script src="./app.js"></script>
</body>

</html>
